body {
    font-family: 'Montserrat', sans-serif;
}


#map {
            height: 700px;
            width: 100%;
            border-radius: 12px;
}

@media (max-width: 768px) {
    #map {
        height: 400px;
    }
}
